<app-navbar [pagename]="pagename" ></app-navbar>
<div class="container">
<div class="row">
    <div class="col m12">
    <table class="highlight">
        <thead>
            <tr>
                <th>Código</th>
                <th>Creada</th>
                <th>Modificada</th>
                <th>Estado</th>
            </tr>
        </thead>
    <tbody>     
        <tr (click)="showDocumento(solicitud.documentos)" *ngFor="let solicitud of solicitudes">
            <td>{{ solicitud.solicitudCode | uppercase }}</td>
            <td>{{ solicitud.creada | date }}</td>
            <td>{{ solicitud.modificada | date }}</td>
            <td>{{ estado[solicitud.estado] }}</td>
        </tr>
    </tbody>
    </table>
    </div>
</div>
</div>
<div id="modal" class="modal">
    <div class="modal-content">
        <h6>Documentos solicitados</h6>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Institución</th>
                    <th>Nivel</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let documento of documentosSolicitados">
                    <td>{{ documento.nombre }}</td>
                    <td>{{ documento.descripcion }}</td>
                    <td>{{ documento.institucionId }}</td>
                    <td>{{ documento.nivelId }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a [routerLink] = "['/historial']" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>