<app-navbar [pagename] = "pagename"></app-navbar>
<div class="container">
<div class="row"><h5>Crear o modificar Estudiante</h5></div>
<div class="row padded">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input [(ngModel)]="estudiante.nombres" name="nombres" id="nombres" type="text" class="validate">
          <label for="nombres">Nombres</label>
        </div>
        <div class="input-field col s6">
          <input [(ngModel)]="estudiante.apellidos" name="apellidos" id="apellidos" type="text" class="validate">
          <label for="apellidos">Apellidos</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input [(ngModel)]="estudiante.cedula" name="cedula" id="cedula" type="text" class="validate">
          <label for="cedula">Cédula</label>
        </div>
        <div class="input-field col s6">
          <input [(ngModel)]="estudiante.contrasena" name="contrasena" id="contrasena" type="password" class="validate">
          <label for="contrasena">Contraseña</label>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s6">
          <mat-form-field style="width: 100%">
            <mat-label>Nivel</mat-label>
            <mat-select name="nivelId" [(ngModel)]="estudiante.nivelId">
              <mat-option *ngFor="let nivel of niveles" [value]="nivel.id">
                {{nivel.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          </div>
          <div class="input-field col s6">
              <mat-form-field style="width: 100%">
                <mat-label>Institucion</mat-label>
                <mat-select name="institucionId"  [(ngModel)]="estudiante.institucionId" >
                  <mat-option *ngFor="let institucion of instituciones" [value]="institucion.id">
                    {{institucion.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              </div>
        </div>
        <div class="row">
            <button (click)="crearEstudiante()" class="btn-floating btn-large waves-effect waves-light light-blue right"><i class="material-icons">add</i></button>
            <button *ngIf="editMode" (click) = "actualizarEstudiante(estudiante.id, estudiante)" class="btn-floating btn-large waves-effect waves-light light-blue right"><i class="material-icons">done</i></button>
        </div>
    </form>
    <div class="row">
      <h5>
        Selecciona un registro para editarlo.
      </h5>
    </div>
    <div class="row">
      <div class="col s12">
          <table class="striped highlight">
              <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Cédula</th>
                    <th>Matrícula</th>
                    <th>Nivel</th>
                    <th>Institución</th>
                    <th>Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let estudiante of estudiantes">
                  <td>{{ estudiante.nombres }}</td>
                  <td>{{ estudiante.apellidos }}</td>
                  <td>{{ estudiante.cedula }}</td>
                  <td>{{ estudiante.matricula }}</td>
                  <td>{{ estudiante.nivel.nombre }}</td>
                  <td>{{ estudiante.institucion.nombre }}</td>
                  <td><button (click)="traerEstudiante(estudiante.id)" class="btn btn-small light-blue right"><i class="material-icons">mode_edit</i></button></td>
                  <td><button (click)="borrarEstudiante(estudiante.id)" class="btn btn-small light-blue right"><i class="material-icons">delete</i></button></td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>
</div>

    