<app-navbar [pagename]="pagename"></app-navbar>
<div class="container">
<div class="row">
<div class="col s6 ">
    <div class="card">
        <div class="card-content">
        <h5>Bienvenido Marcos</h5>
        <ul class="collection">
            <li class="collection-item">Nivel: </li>
            <li class="collection-item">Institucion: </li>
            <li class="collection-item">Matrícula: </li>
            <li class="collection-item">Estado: </li>
        </ul>
        </div>
    </div>
</div>
<div class="col s6 ">
        <div class="card">
            <div class="card-content">
            <h5>Documentos que puedes solicitar</h5>
            <form action="#">
                <p>
                    <input type="checkbox" />
                    <span>asdasd</span>
                </p>
                </form>
            </div>
        </div>
    </div>