<app-navbar [pagename]="pagename"></app-navbar>
<div class="container">
    <div class="row">
        <div class="col s12 l4">
                <div class="card">
                <h5>Tu información</h5>
                <div class="card-content">
                    <ul>
                        <li><b>Nombres:</b> {{ estudiante.nombres }} {{ estudiante.apellidos }}</li>
                        <li><b>Nivel:</b> {{ estudiante.nivel.nombre }}</li>
                    </ul>
                </div>
              </div>
        </div>
        <div class="col l8">
                <div class="card">
                        <h5>Documentos disponibles</h5>
                <div class="card-content">
                    
                <ul class="collapsible">
                    <li *ngFor="let documento of documentos">   
                        <div class="collapsible-header"><i class="material-icons">file_copy</i><b>{{documento.nombre}} de la institucion {{ documento.institucion.nombre }}</b></div>
                        <div class="collapsible-body">
                            <div class="row">
                                <ul>
                                    <li>
                                        <b>Descripción:</b> {{documento.descripcion}} <button (click)="agregarASolicitud(documento)" class="btn-floating btn-small waves-effect waves-light blue right"><i class="material-icons">add</i></button>
                                    </li>
                                    <li>
                                       <b> Nivel:</b> {{ documento.nivel.nombre }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>             
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <h5>Documentos a solicitar</h5><button (click)="enviarSolicitud(documentosSeleccionados)" class="btn waves-effect waves-light light-blue right">Enviar<i class="material-icons right">send</i></button>
    </div>
    <div class="row">
        <div class="col m12">
        <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Nivel</th>
                        <th>Institución</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody *ngIf="documentosSeleccionados">
                    <tr *ngFor="let documentoSeleccionado of documentosSeleccionados">
                    <td>{{ documentoSeleccionado.nombre }}</td>
                    <td>{{ documentoSeleccionado.descripcion }}</td>
                    <td>{{ documentoSeleccionado.nivel.nombre }}</td>
                    <td>{{ documentoSeleccionado.institucion.nombre }}</td>
                    <td><button (click)="removerDocumento(documentoSeleccionado)" class="btn btn-small waves-effect waves-light light-blue right"><i class="material-icons">delete</i></button></td>
                    </tr>
                </tbody>
                </table>
        </div>
    </div>
</div>