<app-navbar [pagename]="pagename" ></app-navbar>
<div class="container">
    <div class="row">
        <div class="card col l6 offset-l3">
            <div class="card-title"><h5>Introduce tu matrícula</h5></div>
            <div class="card-content">
                    <div class="input-field">
                        <input [(ngModel)]="matricula" type="text" name="matricula"/>
                        <label for="matricula">Matricula</label>
                    </div>
            </div>
            <div class="card-action">
                    <button style="width: 100%" class="btn light-blue" (click)="login()">Autenticar</button>
                </div>
        </div>
    </div>
</div>
