<app-navbar [pagename]="pagename" ></app-navbar>
<div class="container">
    <div class="row">
        <div class="card col l6 offset-l3">
            <div class="card-title center"><h5>Introduce tu cédula de identidad</h5></div>
            <div class="card-content">
                    <div class="input-field">
                        <input [(ngModel)]="cedula" type="text" (keydown.enter)="login()" name="cedula"/>
                        <label for="cedula">Cédula</label>
                    </div>
                    <!-- <div class="input-field">
                        <input [(ngModel)]="contrasena" type="text" name="contrasena"/>
                        <label for="contrasena">Contraseña</label>
                    </div> -->
            </div>
            <div class="card-action">
                    <button style="width: 100%" class="btn light-blue" (click)="login()">Autenticar</button>
                </div>
        </div>
    </div>
</div>
