<app-navbar [pagename]="pagename" ></app-navbar>
<div class="container">
    <div class="row">
        <div class="col m12">
        <div class="row">
                <select class="col offset-l6">
                        <option class="option disabled" value="">First option</option>
                </select>
            <div class="input-field">
                <input id="search" type="text">
                <label for="search">Introduce el criterio</label>
            </div>
            
        </div>
        <table class="highlight">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Creada</th>
                    <th>Modificada</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                    <th></th>
                </tr>
            </thead>
        <tbody>     
            <tr *ngFor="let solicitud of solicitudes">
                <td>{{ solicitud.solicitudCode | uppercase }}</td>
                <td>{{ solicitud.creada | date }}</td>
                <td>{{ solicitud.modificada | date }}</td>
                <td>{{ estado[solicitud.estado] }}</td>
                <td><button (click)="traerSolicitud(solicitud.id)" class="btn btn-small light-blue right"><i class="material-icons">mode_edit</i></button></td>
                <td><button (click)="showDocumento(solicitud.documentos)" class="btn btn-small light-blue"><i class="material-icons">details</i></button></td>
            </tr>
        </tbody>
        </table>
        </div>
    </div>
    <div *ngIf="editMode" class="row">
        <h6>Editando {{ solicitudAEditar.solicitudCode | uppercase}}</h6>
        <div class="input-field col m12">
            <select name="estado" [(ngModel)]="solicitudAEditar.estado" class="browser-default">
                <option [value]="0">{{ estado[0] }}</option>
                <option [value]="1">{{ estado[1] }}</option>
                <option [value]="2">{{ estado[2] }}</option>
                <option [value]="3">{{ estado[3] }}</option>
                <option [value]="4">{{ estado[4] }}</option>
            </select>     
        </div>
    </div>
    <div class="row">
            <button *ngIf="editMode" (click) = "actualizarSolicitud(solicitudAEditar.id, solicitudAEditar)" class="btn-floating btn-large light-blue right"><i class="material-icons">done</i></button>
    </div>
</div>
<div id="modal" class="modal">
    <div class="modal-content">
        <h6>Documentos solicitados</h6>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Institución</th>
                    <th>Nivel</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let documento of documentosSolicitados">
                    <td>{{ documento.nombre }}</td>
                    <td>{{ documento.descripcion }}</td>
                    <td>{{ documento.institucion.nombre }}</td>
                    <td>{{ documento.nivel.nombre }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a [routerLink] = "['/admin/solicitud']" class="modal-close btn light-blue">Cerrar</a>
    </div>
</div>